body{background-image: url(./immage/mercedes.jpg.jpg);
   background-size: cover;
  background-position: center;
  background-size: 100% 120%;
background-repeat: no-repeat;
background-attachment: fixed; 
}
h1{color:rgb(243, 209, 209);
font-size: 40px ;
}
p{color: rgb(218, 215, 153);
text-decoration-line: underline;
text-underline-position: auto;

}
